<h4>About</h4>
<hr>
This web application was created by Heather Carmitchel for an undergraduate senior project. 
It was created using Rails & Postgresql and it also makes use of the Bootstrap and Flexslider gems/plugins.
The purpose of this website is to provide aggregate data about television (and maybe movies later) ratings. 
<br>
For more about me and my projects, visit my <a href="people.cis.ksu.edu/~h17" target="_blank">website</a> or my <a href="https://github.com/hCarmitchel/" target="_blank">Github</a>.
