<% content_for :javascript do %>
<script type="text/javascript">
  Morris.Area({
    element: 'tv_shows_chart',
    data: $('#tv_shows_chart').data('tv-shows'),
    xkey: 'year_released',
    ykeys: ['count', 'rating'],
    labels: ['TV shows', 'Ratings']
  });
  Morris.Bar({
    element: 'sentiments_chart',
    data: $('#sentiments_chart').data('reviews'),
    xkey: 'website',
    ykeys: ['reviews','positives','negatives'],
    labels: ['Reviews','Positives', 'Negatives'],
    parseTime: false
  });
  Morris.Line({
    element: 'ratings_avg_chart',
    data: $('#ratings_avg_chart').data('ratings'),
    xkey: 'year',
    ykeys: ['average','epaverage'],
    labels: ['Average TV show rating','Average episode rating'],
    pointSize: 0
  });
  Morris.Area({
    element: 'ratings_chart',
    data: $('#ratings_chart').data('ratings'),
    xkey: 'year_released',
    ykeys: ['count','rating'],
    labels: ['Tv episodes','Ratings']
  });
</script>
<% end %>

<div class="row-fluid">
  <div class="span6">
    <h3>Review Sentiments</h3>
    <%= content_tag :div, "", id: "sentiments_chart", style: "height:540px", data: {reviews: sentiments_chart_data} %>
  </div>
<div class="span6">
<h3>Average Ratings By Year</h3>
<%= content_tag :div, "", id: "ratings_avg_chart", style: "height:540px", data: {ratings: ratings_avg_data} %>
</div>
</div>
<div class="row-fluid">
<div class="span6">
<h3>TV Shows By Year Released</h3>
<%= content_tag :div, "", id: "tv_shows_chart", style: "height:540px", data: {tv_shows: tv_shows_chart_data} %>
</div>
<div class="span6">
<h3>Ratings By Year Released</h3>
<%= content_tag :div, "", id: "ratings_chart", style: "height:540px", data: {ratings: ratings_chart_data} %>
</div>
</div>