
<% content_for :javascript do %>
<script>
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
</script>
<% end %>

<div class="row-fluid" style="margin-top:30px">
  <div class="span7">
<div class="flexslider" style="margin-bottom:20px;" class="clearfix">
  <ul class="slides">
    <li data-thumb="/assets/breaking_bad.jpg">
      <img src="/assets/archer.png" style="position:relative"/>

            <p class="flex-caption">Featured Show: Breaking Bad</p>
    </li>
    <li data-thumb="/assets/archer.png">
      <img src="/assets/archer.png" style="position:relative"/>
            <p class="flex-caption">Featured Show: Archer</p>

    </li>   
    <li data-thumb="/assets/game_of_thrones.png">
      <img src="/assets/game_of_thrones.png" style="position:relative"/>
            <p class="flex-caption">Featured Show: Game of Thrones</p>

    </li>  
    <li data-thumb="/assets/the_americans.png">
      <img src="/assets/the_americans.png" style="position:relative"/>
            <p class="flex-caption">Featured Show: The Americans</p>

    </li>
  </ul>
</div>
  </div>
  <div class="span4 offset1">  	
  	<h4>
  		<form action="" class="display:inline; float:left;">
  			<select name="cars" class="" >
				<option value="volvo">Top TV Shows</option>
				<option value="saab">Top Episodes</option>
				<option value="fiat">Top Seasons</option>
			</select>
		on
			<select name="cars" class="input-small" >
				<option value="volvo">IMDB</option>
				<option value="saab">Metacritic</option>
				<option value="fiat">Netflix</option>
			</select>
		</form> 
	</h4>
	<ol>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
</div>
</div>
<div class="row-fluid">
  <div class="span7">
  	<h4>Recent reviews</h4>
  <hr>
  <h6>Community: Cooperative Escapism in Familial Relations</h6>
by Mark Greig

“I heard your Thanksgiving wasn’t much better than mine, so I thought we could take some time and be grateful for our real family. The one we chose.”

'Cooperative Escapism in Familial Relations' might not have been an episode that made you laugh out loud repeatedly, but it was a great character piece for Jeff and a major turning point for his character.
... Read full post
<br>
 <h6>The Walking Dead: Arrow on the Doorpost</h6>
by drnanamom

Andrea: “Let’s end this. Save the bullets for the real threat.”

Another developmental episode but I didn’t mind. Someone was asking why we like this show and this episode reminded me. This type of show encourages us to reflect on who we are and who we might become if the world went to hell.

... Read full post 
<br>
<h6>Justified: Get Drew</h6>
by Billie Doux

"First thing we're gonna do, we're gonna acknowledge that this guy's awesome."

This was definitely Jim Beaver's episode. As the awesome Drew Thompson reaching the end of his strange and devious journey, Beaver was at his best.

... Read full post
  </div>
  <div class="span4 offset1">
  	<h4>News and Updates</h4>
  <hr>
  </div>
</div>