<% content_for :javascript do %>
<script>
</script>
<% end %>

<h4>Rating Index</h4>

<table cellpadding="0" cellspacing="0" border="0" id="ratings" class="datatable table table-striped table-bordered" data-source="<%= ratings_url(format: "json") %>">
<thead>
  <tr>
    <th>Votes</th>
    <th>Total Rating</th>
    <th>Rating Website</th>
    <th>Rating Type</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
</tbody>
</table>

<br />

<%= button_to "Add Rating", new_rating_path, :method => "get", :class=> "btn btn-primary"%>
