/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require flexslider.css
 *= require dataTables/jquery.dataTables.bootstrap
 *= require morris
 *= require_tree .
*/

a {
  outline: 0 !important;
}

.content {
  background-image: url('/assets/bg.png');
  padding: 20px 45px; 
  margin: 0 -45px; /* negative indent the amount of the padding to maintain the grid system */
}

a:hover, a:visited, a:focus, a:active {
  background-color:transparent !important;
}

a:hover {
  color:#006CCC !important;
  text_decoration:none !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
  color: white !important;
}

h4,h3 { text-align:center; }

h3 { margin:0; }

h3,h4,h5 { text-shadow:1px 2px 0 white; font-weight:normal !important; }

.tablesorter-bootstrap .tablesorter-header, .tablesorter-bootstrap tfoot th, .tablesorter-bootstrap tfoot td {
  padding:0 !important; 
}

.actions { width: 70px; }

.help-block {
	color: #777;
	display: inline !important;
}

abbr[title], abbr[data-original-title] {
	border: none !important;
	color: #9d261d;
}

.badge-info { 
  background-color: #006CCC !important;
  background-image: linear-gradient(to bottom, #0088CC, #0044CC) !important; }

ul { list-style:none !important; }

.accordion-heading { background-color:#fff; border-radius:5px; padding-top:9px; padding-bottom:9px; }

.accordion-heading a:hover, .accordion-heading a:active {
  color:#006CCC !important;
  text-decoration:none !important; }

.accordion-heading a:visited, .accordion-heading a:focus, .accordion-heading a { text-decoration:none !important; }

.accordion-group { border:none !important; background-color:white; }

.accordion-inner ul { margin-left:15px; }

.accordion-inner ul li { font-size:11px; }

.rating-badge { padding:10px 9px !important; }

.badge-warning { color:black; }

.button_to, .button_to div { display:inline; }

#myTab > li > a:hover, #myTab > li > a:focus { background-color:white !important; border-color:#DDDDDD #DDDDDD transparent !important; }

#myTab > .active > a, #myTab > .active > a:hover, #myTab > .active > a:focus { color:#111 !important; }

.white_link { color:white !important; }

#review_content pre { 
  border:none; 
  color:black; 
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:13px; 
  padding:0; }

.blue { color:blue; font-weight:bold; }

.morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}
